#class {chip.bot} kill
#class {chip.bot} open

/* MAIN GAME LOOP ACTIONS - Keep at top */

#action {***PULSE***} {
	#line {gag};
	#echo {GOT A PULSE}
}


/* variables */


/* Alias */
#alias stoploop {#untick {pulse}}



/* All other actions no directly related to loop */


/* heartbeat for bot loop... main loop added as an action on ***PULSE*** */

#alias startloop {

	#ticker {pulse} {
		#showme ***PULSE***
	} 
	{1}
} 
	




#class {chip.bot} close
